# Import Module

In [2]:
import pandas as pd
import numpy as np
import json

# Import technical Data

In [3]:
df = pd.read_csv("Technical500.csv", index_col="Date")
df.index = pd.to_datetime(df.index, format='%Y-%m-%d')
df.dropna(axis=0, inplace=True)
df.head()

,Open,High,Low,Close,Adj Close,Volume,lrets,MACD,stochastics,ATR
Date,,,,,,,,,,
1950-01-24,16.860001,16.860001,16.860001,16.860001,16.860001,1250000,-0.003552,0.002636,45.238333,0.059999
1950-01-25,16.740000,16.740000,16.740000,16.740000,16.740000,1700000,-0.007143,-0.003952,16.666667,0.120001
1950-01-26,16.730000,16.730000,16.730000,16.730000,16.730000,1150000,-0.000598,-0.008599,14.285714,0.010000
1950-01-27,16.820000,16.820000,16.820000,16.820000,16.820000,1250000,0.005365,-0.006366,35.714286,0.090000
1950-01-30,17.020000,17.020000,17.020000,17.020000,17.020000,1640000,0.011820,0.006641,83.333333,0.200000

# Import News data and convert it from Json to pandas dataframe

In [11]:
def open_json(year, month):
    "Save as pandas dataframe"
    file_str = '/Users/user/Desktop/python/my project/Data/' + str(year) + '-' + '{:02}'.format(month) + '.json'
    with open(file_str) as data_file:    
        NYTimes_data = json.load(data_file)
    
    date_list = []
    df = pd.DataFrame()  
    df['News'] = None
    

    for i in range(len(NYTimes_data["response"]["docs"][:])):
        if NYTimes_data["response"]["docs"][i]["pub_date"][:10] not in df.index:
            df.ix[NYTimes_data["response"]["docs"][i]["pub_date"][:10]] = NYTimes_data["response"]["docs"][:][i]['headline']['main']
        else:
            df.ix[NYTimes_data["response"]["docs"][i]["pub_date"][:10]] = df.ix[NYTimes_data["response"]["docs"][i]["pub_date"][:10]].values + NYTimes_data["response"]["docs"][:][i]['headline']['main']
    
    df.index = pd.to_datetime(df.index, format='%Y-%m-%d')
    df.sort_index(inplace=True)
    
    return df

# Merge technical data with News

In [12]:
def merge_news_price(df):
    all_news = pd.DataFrame()
    for i in range(1990, 2019):
        for j in range(1, 13):
            try:
                temp = open_json(i, j)
                all_news = all_news.append(temp)
            except:
                pass
            
    all_news = pd.concat([df, all_news], axis=1)
    
    return all_news

In [13]:
data = merge_news_price(df)

In [14]:
data.tail(30)

,Open,High,Low,Close,Adj Close,Volume,lrets,MACD,stochastics,ATR,News
2018-05-21,2735.389893,2739.189941,2725.699951,2733.010010,2733.010010,3.019890e+09,0.007360,11.541969,100.000000,26.219970,"Robert Indiana, 89, Who Turned ‘Love’ Into End..."
2018-05-22,2738.340088,2742.239990,2721.879883,2724.439941,2724.439941,3.366310e+09,-0.003141,10.531999,91.702104,20.360107,200 Professors Call for Ouster of U.S.C. Presi...
2018-05-23,2713.979980,2733.330078,2709.540039,2733.290039,2733.290039,3.326290e+09,0.003243,10.060423,100.000000,23.790039,Letter of Recommendation: Drinking at LunchIf ...
2018-05-24,2730.939941,2731.969971,2707.379883,2727.760010,2727.760010,3.256030e+09,-0.002025,8.939649,90.989053,25.910156,An Unseeded Serena Williams Looms in the Frenc...
2018-05-25,2723.600098,2727.360107,2714.989990,2721.330078,2721.330078,2.995260e+09,-0.002360,7.322073,80.511751,12.770020,"In Fine Print of $25 Billion Offer, a Bid for ..."
2018-05-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Makers of ‘Sesame Street’ Sue to Get Raunchy P...
2018-05-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sara Ganim, Daniel CevallosLisa O’Connell, Mic..."
2018-05-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"A Colonial Cemetery in a Park, and a Question:..."
2018-05-29,2705.110107,2710.669922,2676.810059,2689.860107,2689.860107,3.736890e+09,-0.011632,3.599713,0.000000,44.520019,What’s on TV Tuesday: ‘Arrested Development’ a...
2018-05-30,2702.429932,2729.340088,2702.429932,2724.010010,2724.010010,3.561050e+09,0.012616,3.219053,78.632182,39.479981,What Is Your Relationship With Your Siblings L...
2018-05-31,2720.979980,2722.500000,2700.679932,2705.270020,2705.270020,4.235370e+09,-0.006903,1.405977,35.482241,23.330078,What’s on TV Thursday: N.B.A. Finals and ‘A Br...
2018-06-01,2718.699951,2736.929932,2718.699951,2734.620117,2734.620117,3.684130e+09,0.010791,2.091735,100.000000,31.659912,Summertime Sports Books: From Keith Hernandez ...
2018-06-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Coal, Cash, and Bad FaithCalifornia Governor’s..."
2018-06-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pedro Sánchez, Spain’s New Leader, Returns Fro..."
2018-06-04,2741.669922,2749.159912,2740.540039,2746.870117,2746.870117,3.376510e+09,0.004470,3.287527,100.000000,14.539795,Facebook Gave Device Makers Deep Access to Dat...
2018-06-05,2748.459961,2752.610107,2739.510010,2748.800049,2748.800049,3.517790e+09,0.000702,4.060128,100.000000,13.100097,Remembering Kate SpadeMontana Primary Election...
2018-06-06,2753.250000,2772.389893,2748.459961,2772.350098,2772.350098,3.651640e+09,0.008531,6.057258,100.000000,23.929932,"Jerry Maren, Who Sang and Danced as a Munchkin..."
2018-06-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The Guatemala Volcano Eruption: Before and Aft...
2018-06-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"The Weekly Health Quiz: Weights, School and th..."
2018-06-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"At a London Hotel, Art Deco Design and Stylish..."
2018-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Trump and Kim May Define ‘Korea Denuclearizati...
2018-06-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Andrew Garfield, Laurie Metcalf and Andrew Ran..."
2018-06-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Recent Commercial Real Estate Transactions6 Hi...
2018-06-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"North Korea, French Strikes, World Cup: Your W..."
2018-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"As a Trade War With China Looms, the Fed’s Pow..."
2018-06-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A Clarinetist’s Girlfriend Didn’t Want Him to ...
2018-06-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charles Krauthammer’s Democratic VocationA Roo...
2018-06-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Molly Dwyer, Nicolas MartellAmanda Ratner, Nic..."
2018-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5 Cheap(ish) Things for Bike Commuting BlissNe...
2018-06-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Trump Threatens Tariffs on Another $200 Billio...

# Export new data as a csv file

In [15]:
data.to_csv("alldata.csv", index=True)